.div{
    width: 30rem;
    min-height: 2rem;
    background-color: rgb(62, 60, 60);
    display: flex;
   justify-content: center;
    align-items: center;
    margin: 1rem;

}

.input{
    width: 99%;
    height: 90%;
    border-radius: 0.1rem;
    
}
