.home{
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: flex-start; /* Alinea arriba verticalmente */
    align-items: center; /* Centra horizontalmente */
    height: 100vh; 
}
.text-home{
    margin-top: -3rem;
    margin-bottom: -1.5rem;
    font-size: 2rem;
}
/* backgroundStyles.css */

/* Estilos para el fondo de la página */
.home-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    min-height: 100vh;
    
  }
  